---
permalink: /cells.json
eleventyExcludeFromCollections: true
---
{"publisher":{{ site.org.name | dump | safe }},"license":"https://creativecommons.org/licenses/by/4.0/","demo":{{ "true" if site.isDemo else "false" }},"low_n":{{ publishedCells.low_n }},"count":{{ publishedCells.count }},"cells":{{ publishedCells.cells | dump | safe }}}
