---
permalink: /claims.json
eleventyExcludeFromCollections: true
---
{#- Published Claim Report index. Full payloads are at /registry/{slug}.json. -#}
{"publisher":{{ site.org.name | dump | safe }},"license":"https://creativecommons.org/licenses/by/4.0/","demo":{{ "true" if site.isDemo else "false" }},"updated":{{ site.last_update | dump | safe }},"count":{{ published.index | length }},"claims":{{ published.index | dump | safe }}}
