---
permalink: /registry.json
eleventyExcludeFromCollections: true
---
{#- Legacy registry dump: the published Claim Report index. -#}
{"publisher":{{ site.org.name | dump | safe }},"url":{{ site.url | dump | safe }},"license":"https://creativecommons.org/licenses/by/4.0/","demo":{{ "true" if site.isDemo else "false" }},"updated":{{ site.last_update | dump | safe }},"methodology_version":{{ site.methodology_version | dump | safe }},"watchlist_version":{{ site.watchlist_version | dump | safe }},"count":{{ published.index | length }},"claims":{{ published.index | dump | safe }}}
